---
import {reference} from "astro:content";
import BaseLayout from './baseLayout.astro';
import BlogViewOption from '../components/blogViewOption.astro';
import BlogMinimap from '../components/blogMinimap.astro';

interface Props {
    title: string;
    description: string;
    createdAt: date;
    updatedAt?: date | undefined;
    heroImage?: {
        src: string,
        alt: string
    } | undefined ;
    tags: string[];
    footnote?: string | undefined;
}

const { title, description, createdAt, updatedAt, heroImage, tags, relatedBlogs, footnote } = Astro.props;
---
<BaseLayout title={title} description={description}>
    <div class="container" x-data :class="!$store.isComfy.on && 'detail'">
        <h1 style="line-height: 0;">{title}</h1>
        <h5>{description}</h5>
        <BlogViewOption title={title} description={description} />
        <div class="container raise concave detail" :style="{ '--line-height': $store.lineHeight.at+'rem' }">
            <slot/>
            <span><time datetime={updatedAt?.toISOString()}>{updatedAt?.toLocaleDateString('en-GB',)}</time>
                <box-icon name='circle' />
                <time datetime={createdAt.toISOString()}>{createdAt.toLocaleDateString('en-GB',)}</time></span>
        </div>
        <script src="https://giscus.app/client.js"
                data-repo="slimeymc/slimeymc.github.io"
                data-repo-id="R_kgDOMBqKNw"
                data-category="Blogs Comments"
                data-category-id="DIC_kwDOMBqKN84CgCGW"
                data-mapping="pathname"
                data-strict="1"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="preferred_color_scheme"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
    </div>
    <BlogMinimap />
</BaseLayout>